# Variables de entorno para desarrollo local
ORCHESTRATOR_URL=http://localhost:5004
AGENT_URLS=http://localhost:5002,http://localhost:5003

# Variables para Docker (comentadas)
# ORCHESTRATOR_URL=http://orchestrator:5004
# AGENT_URLS=http://agente-pgp:5002,http://agente-clima:5003

# URLs de los agentes individuales (para AgentCard)
PGP_AGENT_URL=http://localhost:5002
CLIMA_AGENT_URL=http://localhost:5003

# URLs para Docker (comentadas)
# PGP_AGENT_URL=http://agente-pgp:5002
# CLIMA_AGENT_URL=http://agente-clima:5003 